
{%- capture article_class %}js-comment comment{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<div id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">

  <div class="comment_header">
		<cite>
      <a href="{{ include.url }}" title="Users homepage">
        {{ include.name }}
      </a>
		</cite> -
    <span>
      <a href="#{{ comment_id }}" title="Permalink to this comment">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
      </a>
    </span>
  </div>

  <div class="comment_body">
    {{ include.message  | markdownify }}
  </div>

	{% if include.is_reply %}
</div>
  {% else %}
  <div class="comment_meta">
    <a rel="nofollow" class="comment_reply-link" onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">↪&#xFE0E; Reply to {{ include.name }}</a>
  </div>
</div>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
  {%- assign replies_date = replies | sort: 'date' %}
  {% for reply in replies_date %}
    {%- assign name        = reply.name -%}
    {%- assign url         = reply.url -%}
    {%- assign date        = reply.date -%}
    {%- assign message     = reply.message -%}
    {%- assign uid         = reply._id -%}
    {% include comment.html is_reply=true uid=uid name=name url=url date=date message=message %}
  {% endfor %}

  <hr style="border-top: 1px solid #ccc; background: transparent; margin-bottom: 10px;">
{% endif %}
