
<article>
  <div class="page-header">
    <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  </div>

  <div class="article_body">
    {{ content | markdownify }}
  </div>

  <hr class="my-5">

  <section class="share col-sm-6">
    <h4 class="section-title">Share Page</h4>
    <a class="btn btn-outline-secondary btn-sm twitter" href="http://twitter.com/share?text={{page.title | encode}}{% if site.author.twitter%}&amp;via={{site.author.twitter}}{% endif %}&amp;url={{ site.url }}{{ page.url }}" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
      Twitter
    </a>
    <a class="btn btn-outline-secondary btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
      <i class="fab fa-facebook fa-lg"></i>
      Facebook
    </a>
    <a class="btn btn-outline-secondary btn-sm linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{page.title | encode}}" target="_blank">
      <i class="fab fa-linkedin fa-lg"></i>
      LinkedIn
    </a>
    <a class="btn btn-outline-secondary btn-sm reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{page.title | encode}}" target="_blank">
      <i class="fab fa-reddit fa-lg"></i>
      Reddit
    </a>
  </section>

  {% if page.author.name %}
  <section class="col-sm-6 author">
    <img src="{{ site.BASE_PATH }}/assets/media/logo.png" class="img-rounded author-image" />
    <h4 class="section-title author-name">{{page.author.name}}</h4>
    <p class="author-bio">Author</p>
  </section>
  {% endif %}

  {% include comments.html %}
  <div class="clearfix"></div>
</article>
